body {
  margin: 0%;
  padding: 0%;
  background-color: #2b2d42;
}

.dark {
  --background-color: #2b2d42;
}

.light {
  --background-color: #e6e7eb;
}

body {
  background-color: var(--background-color);
}
