.header {
  background-color: #3c415c;
  color: #f8f9fa;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.596);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header.sun {
  background-color: #d8dae5;
  color: #2a2a2a;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid #c8cad3;
  transition: box-shadow 0.3s ease;
}

.header h1 {
  margin-left: 30px;
}

.theme-button {
  margin-right: 30px;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  background-color: #f8f9fa;
  cursor: pointer;
  transition: color 0.3s ease;
}

.theme-button.sun {
  display: flex;
  justify-content: center;
  align-items: center;
}

.theme-button:hover {
  background-color: #f8f9facc;
}

.theme-button:focus {
  outline: none;
}

.theme-button.sun {
  background-color: #5f5959;
}

.theme-button.sun:hover {
  background-color: #aaaaaa;
}

.theme-button.moon {
  background-color: #ef233c;
}

.theme-button.moon:hover {
  background-color: #ef233ccc;
}

.theme-button img {
  filter: invert(1);
}

@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
  }

  .header h1 {
    margin-left: 0px;
    margin-bottom: 10px;
  }

  .themeWrapper {
    margin-top: 10px;
  }

  .theme-button {
    margin-right: 0px;
  }
}

@media screen and (max-width: 480px) {
  .header h1 {
    font-size: 25px;
  }
}
